@import url(http://fonts.googleapis.com/css?family=Gabriela);
p{
	font-family: "Gabriela", serif;
}
h1{
	text-align: center;
	font-family: "Gabriela", serif;
	font-size: 3em;
}
.landing-background {
	position:relative;
}
.landing-background img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background-color: #94e4e3;
}
.margin-top-30 {
	margin-top:30px;
}
.top{
background-color: #94e4e3;
}
.tagline{
	position:absolute;
	top:30%;
	left:52%;
}

.appstore{
	height:60px;
	width: 204px;
	z-index: 1;
	position:absolute;
	top:63%;
	left:21%;
}


.screenshot{
	padding:15px 15px 15px 15px;
	border: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;


}
.video-wrapper{
	position:relative;
	width:100%;
	height:100%;
}

/*Phones */
@media (max-width: 500px){

	.tagline{
		left:0;
		right:0;
		top:35%;
	}
	.appstore{
		top:50%;
		text-align: center;
	}
	.margin-top-30 {
	margin-top:300px;
}
}
@media (min-width: 501px) and (max-width: 767px) {
	.youtube{
		width:100%;
	}

	.appstore{

	}
	.tagline{
		left:0;
		right:0;
		top:45%;

	}
	.margin-top-30 {
	margin-top:375px;
}
}

/*iPad Portrait */
@media (min-width: 768px) {
	.youtube{
		width:100%;
	}
	.tagline{
		left:45%;
		top:30%;
		font-size: 30px;
	}

	.appstore{
		top:32%;
		left:10%;
	}
/*iPad Landscape*/
@media (min-width: 1024px) {
	.youtube{
		width:100%;


	}

	.tagline{
		left:49%;
		top:31%;
	}
	.appstore{
		top:33%;
		left:23%;
	}
}
/*Desktops*/
@media (min-width: 1025px) {
	.youtube{
		width:100%;


	}
	.tagline{
		left:50%;
		top:35%;
	}
}
@media (min-width: 1220px) {
	.youtube{
		width:100%;
	}
	.tagline{
		left:52%;
		top:43%;
	}

}